<div class="container-fluid" style="padding: 24px">
  <div class="row justify-content-center">
    <div class="col-10 text-center">
      <div style="font-weight: 500">Your account verification in progress.. <br>Please contact in WhatsApp with Startasker customer service team</div>
    </div>
  </div>
  <div class="d-flex justify-content-center pb-2 mt-3">
    <div>
      <a
        href="https://wa.me/+60199484833"
        target="_blank"
        class="text-primary f-18 font-weight-bold"
        (click)="close()"
        >Contact Us(WhatsApp)</a
      >
    </div> 
    <div class="text-red f-18 font-weight-bold hover" (click)="close()"><br><br>Cancel</div>
  </div>
</div>
