::ng-deep .mat-dialog-container {
    padding: 0 !important;
    min-height: 50vh;
    border-radius: 12px;
  }
  .main-body{
    margin-top: 1rem;
    padding: 1rem;
  }
  .main-body .title{
    color: red;
    font-weight: 500;
    font-size: 14px;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .content{
    height: 100px;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    resize: vertical;
    overflow: auto;
    border-radius: 12px;
  }