
<!-- Main Footer -->
<footer class="p-4 bg-footer text-white text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h4 class="text-white w-75 m-auto text-left widget-title footer-text ">StarTasker</h4>
                <div  class="text-justify small w-75 m-auto footer-text ">StarTasker is an online service marketplace
                    providing a platform for customers to book services. Services include Homestay Cleaning,
                    Promoter, Event-model, Handyman, Moving Help, Photographer etc. No more waiting for
                    quotation, you can directly book from StarTasker</div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h4 class="text-white  text-left widget-title ">Quick Links</h4>
                <ul class="unorder" style="list-style-type: none;padding: 0; float: left; text-align: justify;">
                    <li>
                        <a class="text-white" routerLinkActive="active"  [routerLink]="['/home']">Home</a>
                    </li>
                    <li>
                        <a class="text-white" routerLinkActive="active" [routerLink]="['/howtopostjob']">How to post a job</a>
                    </li>
                    <li>
                        <a class="text-white" routerLinkActive="active" [routerLink]="['/howtoapplyjob']">How to apply  job</a>
                    </li>
                   <!-- <li>
                        <a class="text-white" routerLinkActive="active">Refer a friend</a>
                    </li> -->
                     <li>
                        <a class="text-white" routerLinkActive="active" [routerLink]="['/privacy']">Privacy</a>
                    </li>
                    <li>
                        <a class="text-white" routerLinkActive="active" [routerLink]="['/term']">Terms</a>
                    </li>
                    <li>
                        <a class="text-white"  href="mailto:enquiry@startasker.com" target="_blank">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="text-white  text-left widget-title ">Service Categories</h4>
                <ul class="unorder" style="list-style-type: none;padding: 0; float: left; text-align: justify;">
                        <li><a class="text-white" [routerLink]="['/admin']"  routerLinkActive="active">Admin & Business</a></li>
                        <!-- <li><a class="text-white"   routerLinkActive="active">AC Repair</a></li> -->
                        <!-- <li><a class="text-white"   routerLinkActive="active">Baby Sitting</a></li> -->
                        <li><a class="text-white" [routerLink]="['/cleaning']"  routerLinkActive="active">Cleaning</a></li>
                        <li><a class="text-white" [routerLink]="['/designer']"  routerLinkActive="active">Designer</a></li>
                        <li><a class="text-white" [routerLink]="['/event']"  routerLinkActive="active">Event</a></li>
                        <!-- <li><a class="text-white"   routerLinkActive="active">Electrician</a></li> -->
                        <li><a class="text-white" [routerLink]="['/assembly']"  routerLinkActive="active">Furniture Assembling</a></li>
                        <li><a class="text-white" [routerLink]="['/handyman']"  routerLinkActive="active">Handyman</a></li>
                        <!-- <li><a class="text-white"   routerLinkActive="active">Mini Task</a></li> -->
                        <li><a class="text-white" [routerLink]="['/movinghelp']"  routerLinkActive="active">Moving Help</a></li>
                        <!-- <li><a class="text-white"   routerLinkActive="active">Painting</a></li> -->
                        <li><a class="text-white" [routerLink]="['/photography']"  routerLinkActive="active">Photography</a></li>
                        <!-- <li><a class="text-white"   routerLinkActive="active">Plumber</a></li>
                        <li><a class="text-white"   routerLinkActive="active">Promoter</a></li> -->
                        <li><a class="text-white" [routerLink]="['/waiter']"  routerLinkActive="active">Waiter/Waitress</a></li>
                </ul>
            </div>
            <div class="col-md-1 d-flex">
                <!-- <a href="http://www.fb.com/startaskerservice" target="_blank" class="align-self-end">
                    <img src="../../../assets/Icon awesome-facebook-1.png">
                </a> -->
            </div>
        </div>
    </div>
</footer>
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-5 text-center p-3 ">
            <div class="text-white-50 small ">Copyright &copy; 2020 - STAR TASKER</div>
        </div>
        <div class="col-md-7 text-left p-3">
            <!-- <a class="text-white-50 small" routerLinkActive="active" [routerLink]="['/term']">Terms & Conditions</a>&nbsp;
            <a class="text-white-50 small" routerLinkActive="active" [routerLink]="['/disclaimer']">Disclaimer</a>&nbsp;
            <a class="text-white-50 small" routerLinkActive="active" [routerLink]="['/privacy']">Privacy Policy</a> &nbsp;
            <a class="text-white-50 small" routerLinkActive="active" [routerLink]="['/refundpolicy']">Refund Policy</a> -->
            <!-- <span class="example-spacer ml-5"></span> -->
            <div class="text-white-50 ml-5 text-center f-14">Powered By @ <a style="color: #FA0E0E; font-weight: 500; font-size: 16px;" href="http://vedaslabs.com/" target="_blank">
                VEDAS LABS
          </a></div> 
        </div>
    </div>
</div>    