<div class="container-fluid" style="background-color: #f7f8fa;">
    <div class="row">
        <br><br>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5 align-self-center">
            <h1 class="service-title text-center">Hire Event Helpers</h1>
            <br>
            <p class="text-center para " style="font-size: 30px;color: #555555;">
                Free to post. Get RM5 off when you accept an offer.
                receive No-Obligation quotes from reviewed, rated & trusted Event Helpers In Minutes.
            </p>
        </div>
        <div class="col-md-5">
            <img src="../../../assets/event_helpers.jpeg" width="100%">
        </div>
    </div>
    <br><br>
    <h2 class="text-center service-title">What is StarTasker</h2>
    <div class="row justify-content-center px-4">

        <div class="col-md-4 text-center p-2">
            <i class="fa fa-desktop fa-4x m-2 " aria-hidden="true"></i>
            <h3 style="color: #ef240e; font-size: 20px;" class="m-2">POST YOUR TASK</h3>
            <p class="m-2">Tell us what you need, it's FREE to post.</p>
        </div>
        <div class="col-md-4 text-center p-2">
            <i class="fas fa-calendar-alt fa-4x m-2"></i>
            <h3 style="color: #ef240e; font-size: 20px;" class="m-2 text-danger">REVIEW OFFERS</h3>
            <p class="m-2">Get offers from trusted Taskers and view profiles.</p>
        </div>
        <div class="col-md-4 text-center p-2">
            <i class="fa fa-thumbs-up fa-4x m-2" aria-hidden="true"></i>
            <h3 style="color: #ef240e; font-size: 20px;" class="m-2">GET IT DONE</h3>
            <p class="m-2">Choose the right person for your task and get it done.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10 border  position-relative p-0">
            <div class="bg-gradient">
                <br>
                <div class="w-75 m-auto">
                    <h1 class="text-center p-2 my-2 service-title" style="font-size: 50px;"> Hire Trusted Event Helpers With StarTasker
                    </h1>
                    <div class="lead px-2 text-center" style="font-weight: 400;">
                        <p>
                            Have a great idea but need someone to help create for you? No worries, StarTasker makes the
                            whole
                            process simple. You can hire freelance Event Helpers, either by cost, rating or event task,
                            then
                            request them through the site. You can hire a event helpers here for any event task, from brand
                            overhauls and logos, to individual posters or leaflets. Our freelance event helpers help to
                            bring your
                            idea to life
                        </p>
                        <p>
                            Find and get in touch with the expert event helpers ready to start working right away on
                            Startasker.
                        </p>

                    </div>
                    <p class="mb-3">&nbsp;</p>
                    <div class="text-center p-3">
                        <button mat-raised-button color="warn" class="text-center px-3 rounded-pill  text-white"
                            (click)="openPostJob()">Post a job now
                            <span class="p-1 font-weight-bold align-self-center">
                                <i class="fa fa-arrow-right"></i></span>
                        </button>
                    </div>
                </div>
                <div class="elementor-shape elementor-shape-bottom" data-negative="false">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="#fff" class="position-relative"
                        style="transform: rotate(180deg)" preserveAspectRatio="none">
                        <path class="elementor-shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
        c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
        c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
                    </svg> </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../../../assets/graph_event.png"
                            class="border" width="100%">
                    </div>
                    <div class="col-md-6">
                        <h2 class="service-title">Event Services</h2>
                        <ul class="unorder-list">
                            <li>Marriage events</li>
                            <li>Birth anniversary events</li>
                            <li>Marriage anniversary events</li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <br>
    <div class="row justify-content-center">
        <div class="col-md-10 bg-gradient border">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"   preserveAspectRatio="none" fill="#fff" style="position: absolute;" height="25px" width="100%">
                <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
            </svg>
            <div class="container">
                <div class="row justify-content-center ">
                    <div class="col-md-6 d-flex">
                        <div class="align-self-center">
                            <h1 class="service-title">BECOME A TASKER</h1>
                        <p>
                            A tasker is a person who can complete tasks for other people. You can choose the job that
                            suit your skills and available time
                        </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../../../assets/admin_transparent.gif"  style="opacity: 0.46;" width="100%">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-10 bg-gradient1 border">
            <div class="container">
                <div class="row justify-content-center  ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" style="transform: rotateY(180deg);" preserveAspectRatio="none" class="position-absolute" fill="#fff">
                        <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
                    </svg>
                    <div class="col-md-6">
                        <img src="../../../assets/img1-1.png" width="75%" style="position: relative; max-width: 100%;">
                    </div>
                    <div class="col-md-6 d-flex">
                        <div class="align-self-center">
                            <a mat-raised-button color="warn"
                                    style="font-size: 16px;width: auto;"
                                    class="text-center rounded-pill   text-white" (click)="openPostJob()">Post A Job
                                </a>
                        <div>
                            <br>
                        <h2 class=" font-weight-bold service-title" >Sign up  and get RM25 <br>off your first task.</h2> 
                         <span  style="font-size: 22px;font-weight: 600; letter-spacing: 1.2px;"></span> <br>
                        </div>
                         <p style="font-size: 22px;letter-spacing: 1.2px; line-height: 24px;margin-bottom: 24px; margin: 0 0 24px;">Don’t forget to use promo code <br> when you accept an offer!</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<br>
