<div class="container-fluid">
  <div class="text-center">
    <img src="../../../assets/ic_terms_conditions.png" class="mx-auto" />
  </div>
  <br />
  <div class="text-center text-muted">
    <h4 class=""><span>Privacy Policy</span></h4>
  </div>
  <div class="row justify-content-center">
    <p>
      This Privacy Policy is effective as of 1 July 2016.
StarTasker has created this privacy statement in order to demonstrate our firm commitment to privacy. The following discloses our information-gathering and -dissemination practices for this website: StarTasker.com. By using this site, you do hereby warrant and represent that you have read, understand and agree to all terms and conditions stated herein. By using this site, you also represent and warrant that you have read, understand and agree to the terms and conditions stated in the Terms of Use which is incorporated herein by reference.
StarTasker is committed to complying with the Personal Data Protection Act 2010 ("PDPA") of Malaysia. This Privacy Policy Statement sets out how StarTasker collects and uses your personal data. It also sets out the measures that we put in place with regards to personal data protection.
    </p>
    
    <h6>Collection and Use of Personal Data</h6>
    <p>
      You can generally use and browse the Website without providing any Personal Data and may remain anonymous using website. However, to gain the full benefit of our Website/Apps, you may decide to create an Account or to register, in which case you may be required to provide personal details such as name, phone number, address, e-mail or any other information which may identify you (“Personal Data”).
    </p>
    <h6>Such Personal Data may be used to:</h6>
    <p>
      1. Enable you to access and use the Website or Apps<br />
      2. send you emails, SMS or other form of communication which is related to your use of the Website, such as to verify your identity, personal information, refer you to Service provider for Services that you have requested or for other purposes related to the Service; and<br />
      3. add you to our mailing list, to send you marketing and promotional materials which we think you may be interested in from time to time. You can choose to unsubscribe via the links in such communication or by emailing us at info@startasker.com
    </p>
    <h6>Links to Other Websites</h6>
    <p>
      We may provide links to other websites that we do not control, these
      include those of our Service Professionals. We do not assume
      responsibility for the privacy practices, products, services or any other
      content of any websites or pages that is not under our control. We do not
      bear any responsibility for any actions or policies of third-party
      websites. Moreover, we disclaim all responsibility for the subsequent use
      of an email address or any other personally identifiable information you
      have provided to an affiliate store or any other website we might link to
      that is not under our control. You are advised to check the privacy
      policies of those websites upon visiting them.
    </p>
    <h6>Disclosure of information</h6>
    <p>
      We do not sell, distribute or lease Personal Data or information that you
      provide or which StarTasker otherwise comes by to third parties unless
      required by law, or with your permission. We may however disclose or
      transfer Personal Data or information for the purposes of rendering our
      services to you and this may include disclosure to any professional, third
      party service providers to us, who are formally engaged by us to help us
      make available and provide the Website and the StarTasker Service.
    </p>
    <h6>Protection of information</h6>
    <p>
      StarTasker is committed to take all reasonable and practical steps to
      ensure that any personal information or data that we collect or come into
      possession of is protected against loss, misuse, abuse, modification or
      any unauthorized or accidental use, access, disclosure, modification,
      alteration or destruction. We ensure that all Personal Data collected will
      be safely and securely stored. We protect your personal information by:<br />
      1. Restricting access to Personal Data;<br />
      2. Maintaining and implementing measures to prevent unauthorized computer
      access; and<br />
      3. Securely destroying and / or deleting your personal information when
      it’s no longer needed.<br />
    </p>
    <h6>How can I reach StarTasker’s staff?</h6>
    <p>
      If you have technical problems, questions or other issues related to your
      use of StarTasker.com, please click the link Contact on the home at the
      bottom of any page of the site. You can also contact us at
      info@StarTasker.com.<br />
      StarTasker’s staff will respond to all requests sent through mail or email
      from members and parents interested in knowing more about what personal
      information is stored on the StarTasker.com database, or if they want
      their personal information nullified, or have additional questions
      regarding privacy.<br />
    </p>
    <h6>Notification of changes</h6>
    <p>
      StarTasker’s security and privacy policy are periodically reviewed and
      enhanced as necessary. This policy might change as StarTasker updates and
      expands its services. StarTasker will contact you via email and will post
      notification if there are any material changes in its privacy practices.
      StarTasker also encourages you to review this privacy policy periodically.
      By using the site, you do hereby represent and warrant that you have read,
      understand and agree to all terms of this Privacy Policy and Terms of use.
      Each time you use the site, you agree to all terms set forth by StarTasker
      in both its Privacy Policy and Terms of use and any other policies
      published by StarTasker on the site. If you do not understand any of the
      terms or conditions of any of StarTasker’s policies, you may inquire
      regarding the same via electronic correspondence (e-mail) at
      info@StarTasker.com.
    </p>
    <h6>HOW DO WE PROCESS THE DATA YOU PROVIDE US AND PURPOSES OF THE DATA?</h6>
    <P
      >We may collect, use, disclose and/or process your personal data for one
      or more of the following purposes:</P
    >
    <p>
      1. to respond to, process, deal with or complete a transaction and/or to
      fulfil your requests for certain products and services and notify you of
      service issues and unusual account actions <br />
      2. to enforce our Terms of Service or any applicable end user license
      agreements; <br />
      3. to protect personal safety and the rights, property or safety of
      others; <br />
      4. for identification and/or account verification; <br />
      5. to maintain and administer any software updates and/or other updates
      and support that may be required from time to time to ensure the smooth
      running of our Services; <br />
      6. To deal with or facilitate customer service, carry out your
      instructions, deal with or respond to any enquiries given by (or purported
      to be given by) you or on your behalf <br />
      7. To allow other users to interact or connect with you on the Platform,
      including to inform you when another User has sent you a private message
      or posted a comment for you on the Platform; <br />
      8. To update you the job status <br />
      9. To conduct research, analysis and development activities (including,
      but not limited to, data analytics, surveys, product and service
      development and/or profiling <br />
      10. where you give us your prior consent, for marketing and in this
      regard, to send you by various modes of communication such as postal mail,
      email, location-based services or otherwise, marketing and promotional
      information and materials relating to products and/or services (including,
      without limitation, products and/or services of third parties whom
      Startasker may collaborate or tie up with <br />
      11. To respond to legal processes or to comply with or as required by any
      applicable law, governmental or regulatory requirements of any relevant
      jurisdiction, <br />
      12. To produce statistics and research for internal and statutory
      reporting and/or record-keeping requirements;<br />
      13. any other purposes which we notify you of at the time of obtaining
      your consent. (collectively, the “Purposes”).
    </p>
    <h6>Data/Account Deletion Request</h6>
    <p>
      Any user can request for their data/account to be deleted from the app at
      any point of time. You are aware that upon account deletion, you may not
      be able to log into your account to access all previous activities
      including your job history.
    </p>
    <p>
      To delete account, you can click setting> delete account from the
      apps/website.
    </p>
    <p>
      However, if there is an assigned tasks pending completion, you are
      required to complete the task before you can delete your account.
    </p>
    <p>
      If you encounter any issues in delete account, you may also email us at
      info@startasker.com
    </p>
    
    
  </div>
</div>
