<div>
    <span class="float-right mr-2 mt-2 hover" (click)="closeTab()">
        <img width="40" style="border-radius: 50%;padding: 10px;"
          src="../../../assets/Iconmetro-cancel.png">
      </span>
  <div class="p-3  bg-light text-center text-capitalize">
    <h5>{{heading}}</h5>
  </div>
</div>
<hr>
<div class="container-fluid ">
    <div class="text-center" *ngIf="showForgotScreen">
        <div class="d-flex justify-content-center">
            <img src="../../../assets/image-5.png" class="mx-auto" width="150">
        </div>
        <p style="font-size: small; font-weight: 400;">
            Enter the Email ID associated with your account
        </p>
        <p class="text-muted " style="font-size: small; font-weight: 400;">
            We'll send a verification code to reset your password
        </p>
        <form [formGroup]="forgotForm" class="example-form" (ngSubmit)="sendEmail()">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label class="small">Email</mat-label>
                <input matInput formControlName="userID" style="background-color: white; color: black;padding: 5px;"
                    placeholder="Ex. pat@example.com">
                <mat-error class="small" *ngIf="forgotForm.get('userID').hasError('email')">
                    Please enter a valid email address
                </mat-error>
                <mat-error class="small" *ngIf=" forgotForm.get('userID').hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <div class="d-flex justify-content-center">
                <button class="w-100 rounded-pill py-1 btn-clr" [class.spinner]="loading" [disabled]="loading" mat-raised-button
                style="font-size: 19px; font-weight: 400;">Submit</button>
            </div>
            <br>
        </form>
    </div>
    <div class="text-center" *ngIf="showOtpScreen">
        <div class="d-flex justify-content-center">
            <img src="../../../assets/image_1.png" class="mx-auto" width="150">
        </div>
        <p style="font-size: small; font-weight: 400;">
            Enter the Verification code  we just sent you on your Email ID
        </p>
        <form [formGroup]="otpForm" class="example-form" (ngSubmit)="sendOtp()">
            <!-- <div class="form-group">
              <input type="text" class="form-control rounded-pill" formControlName="otp"    placeholder="Enter Email ID">
              <p class="text-danger small" *ngIf="otpForm.get('otp').touched && otpForm.get('otp').hasError('required')">Enter OTP...</p>
            </div>
             -->
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label class="small">Otp</mat-label>
                <input matInput type="password" formControlName="otp" style="background-color: white; color: black;padding: 5px;">
                <mat-error class="small" *ngIf="otpForm.get('otp').hasError('required')">
                    Enter verification code..
                </mat-error>
                <mat-error class="small" *ngIf="otpForm.get('otp').hasError('pattern')">
                    Enter valid verification code..
                </mat-error>
            </mat-form-field>
            <div class="d-flex justify-content-center">
                <button class="w-100 rounded-pill py-1 btn-clr" (click)="sendOtp()" [class.spinner]="loading" [disabled]="loading" mat-raised-button
                style="font-size: 19px; font-weight: 400;" >Submit</button>
            </div>
            <span>If you didn't recieve a code! <a class="text-danger hover" (click)="resendOtp()">Resend</a> </span>
            <br>
        </form>
    </div>
    <div  *ngIf="showNewPasswordScreen">
        <div class="d-flex justify-content-center">
            <img src="../../../assets/image_1.png" class="mx-auto" width="150">
        </div>
        <form [formGroup]="newPasswordForm" class="example-form" (ngSubmit)="sendNewPass()">
            <!-- <div class="form-group">
                <input type="text" class="form-control rounded-pill" formControlName="password"
                    placeholder="New Password">
            </div>
            <div class="form-group">
                <input type="text" class="form-control rounded-pill" formControlName="confirmPassword"
                    placeholder="Confirm Password">
                <p *ngIf="newPasswordForm.get('confirmPassword').hasError('required')">
                    ConfirmPassword is required.
                </p>
                <p
                    *ngIf="newPasswordForm.get('confirmPassword').hasError('NoPassswordMatch') && newPasswordForm.get('confirmPassword').touched && newPasswordForm.get('confirmPassword').value != null">
                    Password does not same.
                </p>
            </div> -->
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label class="small">New Password</mat-label>
                <input matInput type="password" formControlName="password"  style="background-color: white; color: black;padding: 5px;">
                <mat-error class="small" *ngIf="newPasswordForm.get('password').hasError('required')">
                    Enter New Password..
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label class="small">Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" style="background-color: white; color: black;padding: 5px;">
                <mat-error class="small" *ngIf="newPasswordForm.get('confirmPassword').hasError('required')">
                    Confirm password required..
                </mat-error>
                <mat-error class="small" *ngIf="newPasswordForm.get('confirmPassword').hasError('NoPassswordMatch') && newPasswordForm.get('confirmPassword').touched && newPasswordForm.get('confirmPassword').value != null">
                    Password not matched..
                </mat-error>
            </mat-form-field>
            
            <div class="d-flex justify-content-center">
                <button class="w-100 rounded-pill py-1 btn-clr" [class.spinner]="loading" [disabled]="loading" mat-raised-button
                style="font-size: 19px; font-weight: 400;">Submit</button>
            </div>
            <br>
        </form>

    </div>
    <br>
</div>