<div style="min-height: 30vh;">
    <div class="p-2">
        <h5 class="text-center"> Complete</h5>
        </div>
        <p class="text-center p-1 f-14">
          {{data}}
        </p>
        <br>
        <div class="d-flex justify-content-center pb-2 mt-2">
            <button mat-raised-button (click)="cancel()" class="text-black-50 f-14 rounded-pill hover" style=" border: 1px solid grey;">
                &nbsp; &nbsp;   Cancel &nbsp; &nbsp;</button>&nbsp; &nbsp;
            <button mat-raised-button (click)="submit()" class="text-white f-14 rounded-pill hover" style=" background-color: #FA0E0E;">
                &nbsp; &nbsp; Submit &nbsp; &nbsp;</button>&nbsp;
        </div>
</div>