*{
    font-family: "proxy reg", sans-serif !important;
  }
.bg-ash{
    background-color: #fdfbf5;
}
.bg-gradient{
    background: linear-gradient(90deg,#a6d9ef,#ebf6fb);
  }
  .howitworks{
      font-size: 1rem;
  }
  @media screen and (max-width:767px){
    .text-red{
      text-align: center;
      font-size: 1.6rem !important;
    }
  }