<div class="container-fluid">
  <div class="row justify-content-center bg-ash shadow">
    <div class=" col-md-6 text-center p-4">
        <h2 class="mb-3 font-weight-bold">JOIN STAR TASKER</h2>
        <p class="f-18">A tasker is a person who can complete tasks for other people. You can choose the job that suit your skill and available time. </p>
        <button mat-raised-button class="btn-bg px-3 rounded-pill w-25" (click)="openPostJob()"> Join Us</button>
    </div>
  </div>
  <div class=" mt-4 px-3 howitworks">
    <h3 class="text-center">HOW IT WORKS</h3>
<div class="mb-3">
    <p>As cost of living continues to rise, it’s not surprising that 90% of Malaysians are looking for a new way to earn an extra pocket money. StarTasker, a new online marketplace is created to tap on the increased flexibility that comes with working in the sharing economy.</p>
    <p> StarTasker is looking for more people to join us!</p>
    <p>You get the following benefits when you join StarTasker.</p>
</div>
    <div class="points">
        <p><b>1 Earn extra pocket money :</b> <br>It is a great platforms to supplement on existing income. You can leverage on your free time to help others and earn an extra money at the same time</p>
        <p> <b>2 Flexibility You are your own boss :</b> <br> You can control your work hours to fit your life commitments.</p>
        <p> <b>3 Training :</b> <br> We provide training from time to time</p>
        <p> StarTasker is motivated to create an environment to support local community and keep work local. The people you hire could be living down the street or even next door. We built a platform where anyone with spare time or skills can find some jobs to earn some pocket money. Join StarTasker today.</p>
    </div>
  </div>
  <div>
      <img src="../../../assets/how_to_apply_job2.png" class=" d-none d-md-block m-auto" width="90%">
      <img src="../../../assets/How_to_apply_job.png" class="img-fluid d-block d-md-none" width="100%">
  </div>
  <div class="row mb-4" style="font-size: 1.1rem;">
      <div class="col-md-6">
        <h2 class="text-red ml-3">APPLY YOUR JOB NOW</h2>
        <P class="text-justify ml-3 ">Flexible way to find jobs that suit your time</P>
        <button mat-raised-button class="ml-3 btn-bg rounded-pill px-4 w-25" (click)="openPostJob()">Join Us</button>
      </div>
  </div>
</div>