::ng-deep .mat-dialog-container {
    padding: 0 !important;
  }
  *{
    font-family: "proxy reg", sans-serif !important;
  }
  .rewards .box{
    border: 1px solid rgb(221, 208, 208);
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    cursor: pointer;
  }
  /**** Scroll Bar*****/
.scroll::-webkit-scrollbar-track
{
border-radius: 2px;
}
.scroll::-webkit-scrollbar
{
width: 5px;
background-color: #F7F7F7;
}
.scroll::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #FA0E0e;
}