<div>
    <div class="p-2 text-white" style="background-color: #FA0E0E">
        <h6 class="text-center"> Alert</h6>
        </div>
        <p class="text-center p-2 small">
            <br>
            {{message}}
        </p>
        
        <div class="d-flex justify-content-end pb-2">
            <button mat-raised-button (click)="close()" class="text-black-50 rounded-pill hover" style="font-weight: 400;font-weight: 400; border: 1px solid grey;">
                &nbsp; &nbsp;   Cancel &nbsp; &nbsp;</button>&nbsp; &nbsp;
            <button mat-raised-button (click)="submit()" class="text-white rounded-pill hover" style="font-weight: 400;font-weight: 400; background-color: #FA0E0E;">
                &nbsp; &nbsp; Sign Up &nbsp; &nbsp;</button>&nbsp;
        </div>
</div>