<div class="container-fluid my-3">
    <div class="row justify-content-center">
        <div class="col-md-11 text-center">
            <h4>Welcome!!</h4>
            <p class="f-18">Thank you for joining StarTasker.</p>
            <div class="text-center">
                <img src="../../../assets/giftbox.png" class="img-fluid">
            </div>
            <h4>RM 25</h4>
            <p>Credited to your StarTsker Wallet. </p>
            <p>You can use them for Task Payments</p>
        </div>
    </div>
</div>