<div class="text-center bg-light p-2">
    <h5 class="">
        Rewards <span class="float-right hover text-right" (click)="closeTab()">
            <img width="40" style="border-radius: 50%; padding: 10px;" src="../../../assets/Iconmetro-cancel.png">
        </span></h5>

</div>
<br>
<div class="container scroll" style="max-height: 70vh; overflow-y: auto;">
    <div class="row justify-content-center">
        <div class="col-4 text-center align-self-center">
            <img src="../../../../assets/gift.png">
        </div>
        <div class="col-8">
            <h5>60% Cashback on House Cleaning</h5>
        </div>
    </div>
    <div style="border: 1px dashed #4e4b4b;font-weight: 500;" class="d-flex justify-content-around p-2 my-3 mx-2">
        <span>Code:</span> <span> ST4582746463</span> <span class="text-red">Copy</span>
    </div>
    <div class="mx-2">
        <div><b>Validity</b></div>
        <span class="f-14 text-muted">06 Feb 2020, to 31st Jul 2020</span>
    </div>
    <hr>
    <div class="mx-2">
        <div><b>Offer Details</b></div>
        <p class="f-14 text-muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
            exerci tation</p>
    </div>
    <hr>
    <div class="mx-2">
        <div><b>Terms & Conditions</b></div>
        <span class="f-14 text-muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
            exerci tation</span>
    </div>
    <hr>
    <div class="text-center">
        <button mat-raised-button tabindex="-1" class="btn-gradiant rounded-pill w-75">Book Now</button>
    </div>
    <div class="text-center p-3 f-14 hover">
        Report Reward issue to StarTasker
    </div>
</div>