<div class="container-fluid bg-white">
    <h4 class="d-block">Skills </h4>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="mt-2">
                <p style="font-size: 14px; font-weight: 300;">
                    These are your skills. Keep them updated with any new skills you learn so other members can know
                    what you can offer.
                </p>
                <div class="my-2">
                    <form [formGroup]="skillsForm">
                        <div class=" form-group" formGroupName="trasportations">
                            <div class=" font-weight-bold text-black-50">How do you get around?</div>
                            <section class="example-section">
                              <mat-checkbox class="example-margin" formControlName="Bicycle">Bicycle</mat-checkbox>
                              <mat-checkbox class="example-margin" formControlName="Car">Car</mat-checkbox>
                              <mat-checkbox class="example-margin" formControlName="Online">Online</mat-checkbox>
                              <mat-checkbox class="example-margin" formControlName="Scooter">Scooter</mat-checkbox>
                              <mat-checkbox class="example-margin" formControlName="Truck">Truck</mat-checkbox>
                              <mat-checkbox class="example-margin" formControlName="Walk">Walk</mat-checkbox>
                            </section>
                          </div>
                          <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>What are you good at?</mat-label>
                            <mat-chip-list #chipList1 aria-label="Activity selection">
                                <mat-chip *ngFor="let activitie of activities" [selectable]="selectable"
                                         [removable]="removable" (removed)="removeActivity(activitie)">
                                  {{activitie}}
                                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Add activity..." 
                                       [matChipInputFor]="chipList1"
                                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                       [matChipInputAddOnBlur]="addOnBlur"
                                       (matChipInputTokenEnd)="addActivity($event)">
                              </mat-chip-list>
                              <mat-hint>e.g. driving,cleaning and designing</mat-hint>
                        </mat-form-field>
                          <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>What languages can you speak/write?</mat-label>
                            <mat-chip-list #chipList2 aria-label="Activity selection">
                                <mat-chip *ngFor="let language of languages" [selectable]="selectable"
                                         [removable]="removable" (removed)="removeLanguage(language)">
                                  {{language}}
                                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Add activity..." 
                                       [matChipInputFor]="chipList2"
                                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                       [matChipInputAddOnBlur]="addOnBlur"
                                       (matChipInputTokenEnd)="addLanguage($event)">
                              </mat-chip-list>
                              <mat-hint>e.g. English,French and spanish</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>What qualifications have you got?</mat-label>
                            <mat-chip-list #chipList3 aria-label="Activity selection">
                                <mat-chip *ngFor="let qualification of qualifications" [selectable]="selectable"
                                         [removable]="removable" (removed)="removeQualification(qualification)">
                                  {{qualification}}
                                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Add activity..." 
                                       [matChipInputFor]="chipList3"
                                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                       [matChipInputAddOnBlur]="addOnBlur"
                                       (matChipInputTokenEnd)="addQualification($event)">
                              </mat-chip-list>
                              <mat-hint> Educational Qualifications</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>What's your work experience?</mat-label>
                            <mat-chip-list #chipList4 aria-label="Activity selection">
                                <mat-chip *ngFor="let experiance of experiance" [selectable]="selectable"
                                         [removable]="removable" (removed)="removeExp(experiance)">
                                  {{experiance}}
                                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Add activity..." 
                                       [matChipInputFor]="chipList4"
                                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                       [matChipInputAddOnBlur]="addOnBlur"
                                       (matChipInputTokenEnd)="addExp($event)">
                              </mat-chip-list>
                        </mat-form-field>
                        
                          <div>
                            <button type="submit" [class.spinner]="loading" (click)="submitSkills()" [disabled]="loading" mat-raised-button
                              class="w-25 mb-2 shadow rounded-pill" color="warn">Submit</button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>