<div class="container-fluid">
    <h4 class="d-block">Notification Settings </h4>
    <hr>
    <div style="font-weight: 500;">
        <p>Your Notifications can be updated at  any time via the options below or the StarTasker App</p>
        <div class="d-flex justify-content-between w-60 flex-wrap">
            <p>Email : {{user.userID}}</p> <p>Phone : {{user.phoneNumber}}</p>
        </div>
    </div>
    <div class="row bg-light my-3 p-2">
        <div class="col-md-7">
            <h5>Transactional</h5>
            <p>Receive updates on any new comments, private messages, offers and reviews.</p>
        </div>
        <div class="col-md-5 align-self-center">
            <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]='notifications.transactional.Email'>Email</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]='notifications.transactional.Push'>Push</mat-checkbox>
              </section>
        </div>
    </div>
    <div class="row bg-light my-3 p-2">
        <div class="col-md-7">
            <h5>Task Updates</h5>
            <p>Receive updates on any new comments, private messages, offers and reviews.</p>
        </div>
        <div class="col-md-5 align-self-center">
            <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]='notifications.taskUpdates.Email'>Email</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]='notifications.taskUpdates.Push'>Push</mat-checkbox>
              </section>
        </div>
    </div>
    <div class="row bg-light my-3 p-2">
        <div class="col-md-7">
            <h5>Task Reminders</h5>
            <p>Receive updates on any new comments, private messages, offers and reviews.</p>
        </div>
        <div class="col-md-5 align-self-center">
            <section class="example-section">
                <mat-checkbox class="example-margin" [checked]="notifications.taskReminders.Email" [(ngModel)]='notifications.taskReminders.Email'>Email</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]='notifications.taskReminders.Push'>Push</mat-checkbox>
              </section>
        </div>
    </div>
    <div class="row bg-light my-3 p-2">
        <div class="col-md-7">
            <h5>Task Alerts</h5>
            <p>Receive updates on any new comments, private messages, offers and reviews.</p>
        </div>
        <div class="col-md-5 align-self-center">
            <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]='notifications.startaskerAlerts.Email'>Email</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]='notifications.startaskerAlerts.Push'>Push</mat-checkbox>
              </section>
        </div>
    </div>
    <div class="row bg-light my-3 p-2">
        <div class="col-md-7">
            <h5>Task Recommendations</h5>
            <p>Receive updates on any new comments, private messages, offers and reviews.</p>
        </div>
        <div class="col-md-5 align-self-center">
            <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]='notifications.taskRecommendations.Email'>Email</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]='notifications.taskRecommendations.Push'>Push</mat-checkbox>
              </section>
        </div>
    </div>
    <div class="row bg-light my-3 p-2">
        <div class="col-md-7">
            <h5>Helpful information</h5>
            <p>Receive updates on any new comments, private messages, offers and reviews.</p>
        </div>
        <div class="col-md-5 align-self-center">
            <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]='notifications.helpfullInfo.Email'>Email</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]='notifications.helpfullInfo.Push'>Push</mat-checkbox>
              </section>
        </div>
    </div>
    <div class="row bg-light my-3 p-2">
        <div class="col-md-7">
            <h5>Updates and News letters</h5>
            <p>Receive updates on any new comments, private messages, offers and reviews.</p>
        </div>
        <div class="col-md-5 align-self-center">
            <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]='notifications.updateNewsletters.Email'>Email</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]='notifications.updateNewsletters.Push'>Push</mat-checkbox>
              </section>
        </div>
    </div>
    <div class="text-center">
        <button mat-raised-button class="rounded-pill btn-bg w-40 mb-4" (click)="addNotifications()">Update</button>
    </div>
</div>